$color-header :         #006266;
$color-orange :         linear-gradient(90deg,#eb4d4b,#f0932b);
$color-blue-v :         linear-gradient(90deg,#686de0,#be2edd);
$color-soft-green :     linear-gradient(90deg,#6ab04c,#badc58);
$color-black-light :     #2e3c50;
$color-soft-blue :      #2e86de;
$color-red :            #eb4d4b;
$color-yellow :         #f0932b;
$color-sea :            #22a6b3;
$color-gray :           #636e72;
$color-white :          #fff;
$color-green :          #6ab04c;
$color-orange-semi :     linear-gradient(90deg,#c35f4b,rgba(195,95,75,.75));
$color-lavender :       #82589F;
$color_magenta :        #B33771;
$color-orange-milk :    #F97F51;